/* Global Colours*/
$link-clr: #003DA5;
$heading-clr: #0A1F44;
$paragraph-clr: #0A1F44;
$page-bg-clr: #FAFBFB;

/* Header Colours */
$header-bg-clr: #14284B;
$header-close-clr: #ffffff;

/* Footer Colours */
$footer-bg-clr: #ffffff;

/* panel Colours*/
$panel-border-clr: #E1E4E8;




/* device sizes */
$mobile-small-size: 320px;
$mobile-medium-size: 375px;
$mobile-large-size: 425px;
$tablet-size: 768px;
$desktop-size: 1024px;
$desktop-large-size: 1440px;