@use './components/scss/variables';

.page-container{
    position: relative;
    min-height: 100vh;
    font-family: Inter;
    background-color: variables.$page-bg-clr;
    .content-wrap {
        padding-bottom: 70px; 
    }
}

h4 {
    color: variables.$heading-clr;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    margin:0
}

P {
    color: variables.$paragraph-clr;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
}

.inline-ele-mid {
    display: inline-block;
    vertical-align: middle;
}

.info-icon {
    width:24px;
    height:24px;
    margin-left: 10px;
}
